{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tyler Langsam</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script src="{% static 'script.js' %}" defer></script>
  

    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="{% static 'styles.css' %}?{% now 'U' %}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav>
        <h1>TL</h1>

        <div class="menu">
          <a href="{% url 'home' %}">Home</a>
          <a href="https://www.linkedin.com/in/tylerlangsam/">Linkedin</a>
          <a href="{% static 'Resume.pdf' %}">Resume</a>
          <a href="{% url 'contact' %}">Contact</a>
        </div>

        <button class="hamburger">
          <span class="material-icons">menu</span>
        </button>
      </nav>

      <div class="mobile-menu">
        <a href="{% url 'home' %}">Home</a>
        <a href="https://www.linkedin.com/in/tylerlangsam/">Linkedin</a>
        <a href="{% static 'Resume.pdf' %}">Resume</a>
        <a href="{% url 'contact' %}">Contact</a>
      </div>
    </header>
    <br /><br />

    <div class="form">
    <div style="margin:300px">
    <h3></h3>
<form method="post" >
    {% csrf_token %}

    {{ form.as_p }}

    <button class="form_btn" type="submit">Send</button>
    </div>
</div>


</body>
</html>