* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: whitesmoke;
}

nav {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 1rem 1.5rem;
}

nav h1 {
  letter-spacing: 5px;
  padding: 0.5rem 1rem;
  padding-right: calc(1rem - 5px);
  border: 3px solid crimson;
  border-radius: 8px;
  transition: 1s;
}

nav h1:hover {
  color: crimson;
}

.menu {
  display: none;
  align-items: center;
  margin: 0 -1rem;
}

.menu a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  transition: 1s;
}

.menu a:hover {
  color: crimson;
}

.hamburger {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  display: block;
  width: 2rem;
  height: 2rem;
}

.hamburger span {
  color: #fff;
  font-size: 2rem;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;

  padding-top: 6rem;
  opacity: 0;
  transform: translateY(-100%);
  background-color: #000;
  color: #fff;
  transition: 0.8s;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  transition: 0.5s;
}

.mobile-menu a:hover {
  color: crimson;
  background-color: #fff;
}

.about {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 75px;
}

.about img {
  align-self: center;
  border-radius: 50%;
}

.about img article {
  flex-direction: row;
  justify-content: space-evenly;
}

article {
  padding: 2rem;
  overflow: auto;
  height: 500px;
  width: 500px;
}

footer {
  background-color: #000;
  height: auto;
  width: auto;
  position: relative;
}

#cards{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.card {
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  height: 260px;
  width: 300px;
  text-align: center;
  transform: scale(.9);
  transition: 500ms;
}

.card:hover {
  transform: scale(1.1);
  border: 1px solid crimson;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.form_btn {
  font-size: larger;
  padding-left: 20px;
  padding-right: 20px;
}


@media (min-width: 768px) {
  .mobile-menu,
  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
  }
}
